<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <div class = "header">
        <h1>Football Manager 24 Moneyball</h1>
    </div>

    <div class = "sidebar">
        <ul>
            <h3>Content</h3>
            <li>Home</li>
            <li>Data</li>
            <ul>
                <li>Liverpool FC</li>
                <li>Preston NE</li>
            </ul>
            <li>GitHub</li>
            
            <h3>Clubs</h3>
            <li>Liverpool FC</li>
            <li>Preston North End</li>
        </ul>

    </div>
    <div class = "content">
        <section class = "About">
            <div>
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. Aliquam pulvinar commodo tincidunt.</p>
            </div>
        </section>

        <section class = "rules flex">
            <div class = "flex-1 justify-left">
                <h3>Player Performance Stats</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. Aliquam pulvinar commodo tincidunt.</p>
            </div>
            <div class = "flex-1 justify-right"> 
                <h3>Player Attributes Augmentation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. Aliquam pulvinar commodo tincidunt.</p>
                <img src="../../images/starting_formation.PNG" alt="testing image" style="margin-left: 12.5%;">
            </div>
        </section>

        <h3 style="border-top: solid grey;">Teams Used:</h3>

        <section class = "seasons flex">
            <div class = "liverpool justify-left">

                <h3>Liverpool FC</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. Aliquam pulvinar commodo tincidunt.</p>
            
            </div>

            <div class = "preston justify-right">
                <h3>Preston North End</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. Aliquam pulvinar commodo tincidunt.</p>
            
            </div>
        </section>

    </div>
</body>
</html>