<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <div class = "header">
        <h1>Football Manager 24 Moneyball</h1>
    </div>

    <div class = "sidebar">
        <ul>
            <h3>Content</h3>
            <li>Home</li>
            <li>Data</li>
            <ul>
                <li>Liverpool FC</li>
                <li>Preston NE</li>
            </ul>
            <li>GitHub</li>
            
            <h3>Clubs</h3>
            <li>Liverpool FC</li>
            <li>Preston North End</li>
        </ul>
    </div>

    <div class = "content">
        <h2>Club Name + Season Number</h2>
        <section>
            <div>
                <h3>Competitions</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>

            </div>

            <div >
                <h3>Formations</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

        </section>

        <section>
            <h2>Transfers</h2>
            <div>
                <h3>Summer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div>
                <h3>Winter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>
        </section>

        <section class = "analysis flex">
            <div class = "flex-1 justify-left">
                <h3>General Play</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div class = "img flex-1 justify-right">
                <img src="../../images/starting_formation.PNG" alt="testing image" class = "img flex-1 justify-right">
            </div>
        </section>

        <section class = "analysis flex">
            <div class = "flex-1 justify-left">
                <h3>Goalkeepers</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div class = "img flex-1 justify-right">
                <img src="../../images/starting_formation.PNG" alt="testing image" class = "img flex-1 justify-right">
            </div>
        </section>

        <section class = "analysis flex">
            <div class = "flex-1 justify-left">
                <h3>Defenders</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div class = "img flex-1 justify-right">
                <img src="../../images/starting_formation.PNG" alt="testing image" class = "img flex-1 justify-right">
            </div>
        </section>

        <section class = "analysis flex">
            <div class = "flex-1 justify-left">
                <h3>Midfield</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div class = "img flex-1 justify-right">
                <img src="../../images/starting_formation.PNG" alt="testing image" class = "img flex-1 justify-right">
            </div>
        </section>

        <section class = "analysis flex">
            <div class = "flex-1 justify-left">
                <h3>Forwards</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor aliquet ex eu blandit. Nam sed finibus dui, 
                    a bibendum enim. Cras in dolor nibh. Suspendisse potenti. Donec hendrerit nibh vel tortor semper, ut posuere lorem interdum. 
                    Duis iaculis efficitur lacinia. Nam nisi lectus, hendrerit id odio eget, facilisis interdum diam. Curabitur sed ultricies mi. 
                    In vitae aliquam diam. Nulla facilisi. Phasellus bibendum bibendum risus in congue. Phasellus vitae elit eget erat aliquam pulvinar a eget odio. 
                    Sed eget fringilla mauris. Ut congue massa non orci elementum, id ultricies augue aliquam. Mauris varius tellus eu tortor gravida semper. 
                    Aliquam pulvinar commodo tincidunt.</p>
            </div>

            <div class = "img flex-1 justify-right">
                <img src="../../images/starting_formation.PNG" alt="testing image" class = "img flex-1 justify-right">
            </div>
        </section>


        <div class = "footer">
            <div class="right">
                <h6>Next Season Link</h6>
            </div>
            <div>
                <h6>Previous Season Link</h6>
            </div>
        </div>
    </div>
</body>
</html>