<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Manager 24 Moneyball</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <div class="sidebar">
        <a href="../../index.html">Home</a>
        <h3>Season</h3>
        <a href="2023-2024_season.html">2023/2024 </a>
        <a href="2024-2025_season.html">2024/2025 </a>
    </div>

    <div class="header">
        <h1>2024/2025 Season</h1>
    </div>

    <div class = "content">
        <h3>Pre-Season</h3>
        <p>Following last seasons quardruple, the goals for this season largely follow on, aiming to retain all domestic trophies, but also reach the latter stages of the Champions League. <br>

        </p>
        <h4>Formation</h4>
        <p>Don't fix what isn't broken? Last seasons dominance surely means we keep to the same tactics as the previous season. <br>
        Although a secondary tactic will be experimented with in cup games. This is because FM24's AI will alter opposition tactics to counter yours. To minimise that, a backup tactic is always useful to fall back on. <br>
        For this season, as a backup tactic I'll be looking to integrate a classic 4-4-2 into the team, with a third 4-2-4 formation to allow the inclusion of the attacking wingers. <br>
        These formations will be trialed in friendly and low risk cup games against weaker oppositions.
        </p>

        <h4>Summer Transfers</h4>
        <P>Transfer interest in first team players will likely be high in the summer transfer window. Whilst I'll be looking to keep the squad together, if a big money offer comes in I would consider it, and re-invest in youth.<br>
        After the signings of Dybala and Schlager, a focus on home grown talent will be the priority this season, to comply with Champions League and Premier League regulations.
        </P>
        
        
        <h4>Winter Transfers</h4>
        
    </div>
</body>
</html>