body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding-top: 20px;
    padding: 16px;
    position: fixed;
    height: 100%;
    overflow: auto;
    
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 200px);
    position: relative;
    top: 0;
    left: 230px;
    box-sizing: border-box;
}

.header a {
    color: white;
    text-decoration: none;
}

.content {
    margin-left: 220px;
    padding: 0px 20px 20px 20px; /* Adjusted padding to avoid overlap with header */
    flex-grow: 1;
    text-size-adjust: 15px;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    flex-grow: 1;
}

.text_left {
    margin-left: 240px;
    margin-right: 50px;
    flex-grow: 1;
    text-align: left;
    float: left;
    max-width: 40%;
    border-right: 3px solid grey;
    
}

.text_right {
    flex-grow: 1;
    text-align: center;
    float: right;
    max-width: 40%;
}

#img {
    margin-right: 150px;
    text-align: right;
    float: right;
    width: 25%;
    height: 25%;
}

.custom-select {
    flex-grow: 1;
    text-size-adjust: 15px;
    text-align: left;
}

.footer{
    margin-top: 100px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.right {
    float: right;
}


/* The following css code is for experimenting on a new layout for the website, HTML code is in templates/testing*/

.flex{
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.img {
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.analysis {
    margin-top: 20px;
}