<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Manager 24 Moneyball</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <div class="sidebar">
        <a href="../../index.html">Home</a>
        <h3>Season</h3>
        <a href="2023-2024_season.html">2023/2024 </a>
    </div>

    <div class="header">
        <h1>[Insert Season Number Here] Season</h1>
    </div>

    <div>
        <div class="content"> <h2>Season Summary</h2>
            <h3>Formations</h3>
            <h3>Competitions</h3>
            <h3>Transfers</h3>
            <h4>Summer Window</h4>
            <h4>Winter Window</h4>
        </div>
        <div class = "text_left"> <h3>Analysis</h3>
            <h4>Goalkeepers</h4>
            <h4>Defenders</h4>
            <h4>Midfielders</h4>
            <h4>Forwards</h4>
        </div>

        <div class="text_right"> <h4>Squad Analysis Figures</h4>
            <div>Put Figures In Here</div>
        </div>
    </div>
</body>
</html>
